body,
html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;

}

.navbar .nav-link {
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-right: 6px;
    margin-left: 6px;
    /* margin-top: 65px; */
    font-weight: bold;
    color: #000;

}

.nav-link.active {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
}


.navbar-brand-text {
    font-size: 2.68rem;
    font-weight: bold;
    margin-left: 0.625rem;
    font-family: 'Newsreader', serif;
    vertical-align: middle;

}

.navbar-brand img {
    margin-left: 100px;
}


@media (max-width: 768px) {

    /* 768px is a common breakpoint for tablets and below */
    .navbar .nav-link {
        margin-top: 3px;
        /* Adjust the spacing above each link */
        margin-bottom: 3px;
        /* Adjust the spacing below each link */
    }

    .navbar-brand-text {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: 0.625rem;
        font-family: 'Newsreader', serif;
        vertical-align: middle;
    }

    .navbar-brand img {
        width: 60px;
        /* Adjust this value as needed */
        height: 60px;
        /* Adjust this value as needed */
    }

    /* Adjusting the footer container padding */
    .footer .container {
        padding: 1rem;
    }

    /* Adjusting the title sizes in the footer */
    .footer h3 {
        font-size: 1.2rem;
    }

    /* Adjusting the address and other text sizes */
    .footer address,
    .footer ul li {
        font-size: 0.8rem;
    }

}

.icon-wrapper {
    background-color: #3B5998;
    width: 2.6rem;
    /* Adjusted from px to rem */
    height: 2.4rem;
    /* Adjusted from px to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    /* Adjusted from px to rem */
}

.fa-solid.fa-magnifying-glass {
    color: white;

}

.footer.bg-dark {
    background-color: #3B5998 !important;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 3rem;
    /* Adjusted from px to rem */
    background-color: #3B5998;
    color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}