body,
html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;

}

.navbar .nav-link {
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-right: 6px;
    margin-left: 6px;
    /* margin-top: 65px; */
    font-weight: bold;
    color: #000;

}

.nav-link.active {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
}


.navbar-brand-text {
    font-size: 2.68rem;
    font-weight: bold;
    margin-left: 0.625rem;
    font-family: 'Newsreader', serif;
    vertical-align: middle;

}

.navbar-brand img {
    margin-left: 100px;
}


@media (max-width: 768px) {

    /* 768px is a common breakpoint for tablets and below */
    .navbar .nav-link {
        margin-top: 3px;
        /* Adjust the spacing above each link */
        margin-bottom: 3px;
        /* Adjust the spacing below each link */
    }

    .navbar-brand-text {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: 0.625rem;
        font-family: 'Newsreader', serif;
        vertical-align: middle;
    }

    .navbar-brand img {
        width: 60px;
        /* Adjust this value as needed */
        height: 60px;
        /* Adjust this value as needed */
    }

    /* Adjusting the footer container padding */
    .footer .container {
        padding: 1rem;
    }

    /* Adjusting the title sizes in the footer */
    .footer h3 {
        font-size: 1.2rem;
    }

    /* Adjusting the address and other text sizes */
    .footer address,
    .footer ul li {
        font-size: 0.8rem;
    }

}

.icon-wrapper {
    background-color: #3B5998;
    width: 2.6rem;
    /* Adjusted from px to rem */
    height: 2.4rem;
    /* Adjusted from px to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    /* Adjusted from px to rem */
}

.fa-solid.fa-magnifying-glass {
    color: white;

}

.footer.bg-dark {
    background-color: #3B5998 !important;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 3rem;
    /* Adjusted from px to rem */
    background-color: #3B5998;
    color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.product-image {
    width: 100%;
    /* or whatever size you prefer */
    height: 200px;
    /* or whatever size you prefer */
    object-fit: cover;
    /* this property will prevent distortion of the images */
}

.product-category {
    font-size: 0.85rem;
    color: #777;
    margin-bottom: 0;
    margin-top: -8px;
    padding-bottom: 4px;
    /* Decrease the top margin to move the category up */
}

.card-body {
    /* Remove flexbox if you don't need to center other content within this container. */
    align-items: flex-start;
    /* Align child content to the left */
}


.product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s;
    /* Smooth scaling effect */
    cursor: pointer;
    /* Hand cursor to show it's clickable */
}

.card:hover .product-image {
    opacity: 0.7;
    /* Darken image on hover */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: none;
    border-radius: 5px;
}

.card:hover .overlay-text {
    display: block;
}



.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: none;
    border-radius: 5px;
}

.card:hover .overlay-text {
    display: block;
}

.clickable {
    cursor: pointer;
}

.modal-product-image {
    width: 80%;
    /* Reduce to desired width */
    height: 50px;
    /* Reduce the height */
    object-fit: cover;
    transition: transform 0.3s;
    margin: 0 auto;
    /* To center the image horizontally */
    display: block;
    /* To make the margin apply correctly */
}

div.modal-content .modal-product-image {
    height: 350px;
}


.fa {
    padding: 0.625rem;
    font-size: 1.8rem;
    width: 2.1rem;
    height: 2.1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.fa:hover {
    transform: scale(1.1);
    background: white !important;
}

.fa-facebook,
.fa-instagram,
.fa-zalo {
    background: #3B5998;
    color: white;
}

.fa-zalo {
    width: 2.2rem;
    /* Adjust as per your desired size */
    height: 2.2rem;
    /* Adjust as per your desired size */
    font-size: 2.8rem;
}

.fa-zalo img {
    width: 100%;
    /* Adjust to desired size */
    height: 100%;
    /* Adjust to desired size */
    object-fit: contain;
    /* Ensures that the image fits inside its container */
    margin: auto;
    /* To center the image */
}

.card-title {
    font-size: 1.2rem;
}